<configuration>
	<appSettings>
		<add key="BABEL_DISABLE_CACHE" value="true" />
	</appSettings>
	<system.webServer>

		<!-- indicates that the server.js file is a node.js application 
		to be handled by the iisnode module -->

		<handlers>
			<add name="iisnode" path="server.js" verb="*" modules="iisnode" />

      <remove name="WebDAV" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="ApiURIs-ISAPI-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
		
		<rewrite>
			<rules>
				<rule name="myapp">
					<match url="/*" />
					<action type="Rewrite" url="server.js" />
				</rule>
                <rule name="https" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" />
                    </conditions>
                    <action type="Redirect" url="https://work.devlights.com" redirectType="Found" />
                </rule>
			</rules>
		</rewrite>
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" />
        </staticContent>
    <modules>
      <remove name="WebDAVModule" />
    </modules>
	</system.webServer>
</configuration>